<%- include("partials/header.ejs",{page:"Register"}); %>

    <body>
        <section>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 col-lg-8 col-xl-6">
                        <div class="row">
                            <div class="col text-center title">
                                <h1>Register</h1>
                            </div>
                        </div>
                        <form action="/register" method="POST">
                            <div class="row align-items-center">
                                <div class="col mt-4">
                                    <input type="text" name="username" class="form-control" placeholder="Username">
                                </div>
                            </div>
                            <div class="row align-items-center mt-4">
                                <div class="col">
                                    <input type="email" name="email" class="form-control" placeholder="Email">
                                </div>
                            </div>
                            <div class="row align-items-center mt-4">
                                <div class="col">
                                    <input type="text" name="country" class="form-control" placeholder="Country">
                                </div>
                            </div>
                            <div class="row align-items-center mt-4">
                                <div class="col">
                                    <input type="date" name="dob" class="form-control" placeholder="Date of Birth">
                                </div>
                                <div class="col">
                                    <input type="text" name="gender" class="form-control" placeholder="Gender">
                                </div>
                            </div>
                            <div class="row align-items-center mt-4">
                                <div class="col">
                                    <input type="password" name="password" class="form-control" placeholder="Password">
                                </div>
                                <div class="col">
                                    <input type="password" name="confirm" class="form-control"
                                        placeholder="Confirm Password">
                                </div>
                            </div>
                            <div class="row justify-content-start mt-1">
                                <div class="col">
                                    <button class="btn btn-primary mt-4">Register</button>
                                    <span>
                                        <p>do you have an account? <a href="/login">Log In</a></p>
                                    </span>
                                </div>
                            </div>
                        </form>
                        <div class="alert alert-danger mt-3 <%= (()=> {
                            if (err) {return " d-block"} else {return "d-none" } })() %>" role="alert">
                            <%= (()=> {
                                if (err) {return err}
                                else {return ""}
                                })() %>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>

    </html>